			@font-face { font-family: Dimitri; src: url('../fonts/DIMITRI_.TTF'); } 
			@font-face { font-family: Signika; src: url('../fonts/Signika/Signika-Regular.ttf'); } 
			body {
				position: relative;
				line-height: 35px;
				/*font: 15px/20px "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
				font: 15px/20px "Signika";
				letter-spacing: 0.05em;
			}
			.afffix {
				top: 20px;
			}
			.navbar-main {
				font-family: Signika;
			}

			.jumbotron {
				margin-top: 20px;
				background-color: #242424;
			}
			.article {
				margin:20px 0;
				background-color: #eaeaea;
				box-shadow: 5px 5px 12px rgba(0,0,0,.3);
			}
			body {
				background-color: #242424;
			}
			#ScrollSpy {
				margin-top: 200px;
			}
			.main {
				max-width: 1200px;
			}
			div.jumbotron {
				margin: 0 auto;
				padding-top: 100px;
				max-width: 600px;
				color:#eaeaea;
				text-align: center;
			}
			h1.jumbotron {
				font-family: Dimitri;
			}
			.jumbotron-img {
				position:absolute;
				z-index:-1;
				width:100%;
			}
			h1 {
				color:#242424;
			}
			.section1-2 {
				column-count:2;
				column-gap:40px;
			}
			.article-img-l {
				position:relative;
			}
			.article-img-r {
				position:relative;
			}
			.article-content {
				padding:40px;
			}
			.img-mid {
				display: block;
				margin: 0 auto;
				margin-bottom: 20px;
			}
			.panel-body {
				text-align: center;
				font-style: italic;
				color: rgba(0,0,0,.6);
				font-size: 1em;
			}
			.article-title {
					font-size: 2em;
					display: block;
				}
				.article-img {
					margin-top:;
					display: block;
					padding: 20px; 
				}
				.article-desc {
					display: block;
				}
				.readmore {
					padding:10px;
					border-radius: 10px;
					background-color: rgba(255,255,255,1);
					display: inline-block;
				}
				.readmore:hover {
					background-color: rgba(255,255,255,.9);
					text-decoration: none;
					cursor: pointer;
				}
			.container-700 {
				width: 700px;
				margin:0 auto;
				color:rgba(255,255,255,.8);
				/*background-color: rgba(255,255,255,.7);*/
			}
			
			footer {
				margin-top:20px;
				padding:50px;
				/*background-color: rgba(0,0,0,.9);*/
				background-color: rgba(255,255,255,.15);
			}
			#about-pic {
				position: relative;
				left:170px;
			}
			#about-jumbo {
				font-family: Dimitri;
				color:#fff;
			}

			h1#about-jumbo {
				font-size: 6em;
				position: absolute;
				top:60px;
				right: 300px;
				color:#eaeaea;
			}
			h2#about-jumbo {
				font-size: 3em;
			}
			.about-contain {
				position: relative;
				top:-500px;
				/*background-color: rgba(255,255,255,.3);*/
				background-color: rgba(0,0,0,.6);
				padding:40px;
			}